html {
  min-height: 100%;
  background-image: url('/images/nasa.jpg');
  background-size: cover;
  font-family: Courier, Courier New;
}

body {
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  color: #66FF66;
  text-shadow: 0 0 10px #33FF33;
}

h1 {  
  font-size: 1em;
  margin: 0;
  padding: 10px 0 0;
}

p, li {
  line-height: 1;
}

